!!!5
%html
  %head
    %title Adnetwork
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/topbar'
    #main-body.container-fluid
      .row-fluid

        = paginate @analytic_sums, :query => @query_params, :order => @order_params

        %table.table-bordered.table.tablesorter-bootstrap
          %thead
            %tr
              %th#artwork_id.tablesorter-header{:style => 'width:180px'}
                .tablesort-wrapper
                  .tablesort-inner
                    ArtworkID
                    = order_icon(:artwork_id)
              %th#product_id.tablesorter-header{:style => 'width:80px'}
                .tablesort-wrapper
                  .tablesort-inner
                    ProductID
                    = order_icon(:product_id)
              %th#ad_vender_id.tablesorter-header{:style => 'width:80px'}
                .tablesort-wrapper
                  .tablesort-inner
                    AdVender
                    = order_icon(:ad_vender_id)
              %th#country_code.tablesorter-header
                .tablesort-wrapper
                  .tablesort-inner
                    Country
                    = order_icon(:country_code)
              %th#platform.tablesorter-header{:style => 'width:80px'}
                .tablesort-wrapper
                  .tablesort-inner
                    Platform
                    = order_icon(:platform)
              %th#impression.tablesorter-header
                .tablesort-wrapper
                  .tablesort-inner
                    Impression
                    = order_icon(:impression)
              %th#click.tablesorter-header
                .tablesort-wrapper
                  .tablesort-inner
                    Click
                    = order_icon(:click)
              %th#install.tablesorter-header
                .tablesort-wrapper
                  .tablesort-inner
                    Install
                    = order_icon(:install)
              %th#cost.tablesorter-header
                .tablesort-wrapper
                  .tablesort-inner
                    Cost
                    = order_icon(:cost)
            %tr.tablesorter-filter-row
              %td
                = text_field_tag :artwork_id, @query_params[:artwork_id], :class => 'tablesorter-filter'
              %td
                = select_tag :product_id, options_from_collection_for_select(Product.all, "id", "name", @query_params[:product_id]), :include_blank => true, :class => 'tablesorter-filter'
              %td
                = select_tag :ad_vender_id, options_from_collection_for_select(AdVender.all, "id", "name", @query_params[:ad_vender_id]), :include_blank => true, :class => 'tablesorter-filter'
              %td
                = text_field_tag :country_code, @query_params[:country_code], :class => 'tablesorter-filter'
              %td
                = select_tag :platform, options_for_select([['Android', 'android'], ['iOS', 'ios']], @query_params[:platform]), :include_blank => true, :class => 'tablesorter-filter'
              %td
                = text_field_tag :impression, @query_params[:impression], :class => 'tablesorter-filter'
              %td
                = text_field_tag :click, @query_params[:click], :class => 'tablesorter-filter'
              %td
                = text_field_tag :install, @query_params[:install], :class => 'tablesorter-filter'
              %td{:style => 'position:relative'}
                = text_field_tag :cost, @query_params[:cost], :class => 'tablesorter-filter'
                = button_tag 'Query', :id => 'query-btn', :class => 'btn btn-primary', :style => 'position:absolute;top:4px;right:-75px;'

          - @analytic_sums.each do |analytic_sum|
            %tr
              %td
                - if analytic_sum.artwork and analytic_sum.artwork.artwork?
                  = image_tag analytic_sum.artwork.artwork.url
                  %br
                = analytic_sum.artwork_id
              %td= analytic_sum.product.name
              %td= analytic_sum.ad_vender.name
              %td= analytic_sum.country_code
              %td= analytic_sum.platform
              %td= analytic_sum.report_date.strftime("%Y%m%d")
              %td= analytic_sum.impression
              %td= analytic_sum.click
              %td= analytic_sum.install
              %td= analytic_sum.cost
        %br

:coffee
  query_params = #{@query_params.to_json.html_safe}
  order_params = #{@order_params.to_json.html_safe}

  $(document).ready ->
    $("#query-btn").click ->
      query_params = {}
      $('input, select').each -> query_params[$(this).attr('id')] = $(this).val() if $(this).val()
      window.location.href = encodeURI("analytic_sums" + gen_query_string(query_params, order_params))

    $("th").click (e) ->
      attr = $(e.currentTarget).attr('id')
      if attr is order_params.attr
        direction = if order_params.direction is 'ASC' then 'DESC' else 'ASC'
      else
        direction = 'DESC'
      order_params = { attr, direction }
      window.location.href = encodeURI("analytic_sums" + gen_query_string(query_params, order_params))

  gen_query_string = (query_params, order_params) ->
    order_string = "?order[attr]=" + order_params.attr + "&order[direction]=" + order_params.direction
    params = []
    for k, v of query_params
      params.push "query[" + k + "]=" + v
    params = if params.length > 0 then "&"+params.join('&').toString() else ''
    order_string + params
