= form_for @artwork, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = render :partial => 'layouts/error', :object => @artwork
  .field.control-group
    = f.label :size, :class => 'control-label'
    .controls
      = f.select :size, options_for_select(resolution_list.map { |re| [re, re] }, @artwork.size)
  %hr
  .field.control-group
    = f.label :platform, :class => 'control-label'
    .controls
      = f.select :platform, options_for_select([['Android', 'android'], ['iOS', 'ios']], @artwork.platform)
  %hr
  .field.control-group
    = f.label :ad_venders, :class => 'control-label'
    .controls#ad_venders
  %hr
  .field.control-group
    = f.label :product, :class => 'control-label'
    .controls
      = f.select :product_id, options_from_collection_for_select(Product.all, "id", "name")
  %hr
  .field.control-group
    = f.label :artwork, :class => 'control-label'
    .controls
      - url = @artwork.artwork? ? @artwork.artwork.url : 'empty.png'
      = image_tag url, :id => 'img_field'
      %br
      = f.file_field :artwork, :class => 'file-uploader'
  %hr
  .actions.control-group
    .controls
      = f.submit 'Save', :class => 'btn btn-primary'
      = link_to 'Back', artworks_path, :class => 'btn'

:javascript
  ad_vender_ids = "#{@artwork.ad_vender_ids}"

:coffee
  $(document).ready ->
    fetchAdVenders($('#artwork_size').val())
    $('#artwork_size').change (e) ->
      $("#ad_venders").html ''
      fetchAdVenders(e.target.value)

  fetchAdVenders = (size) ->
    $.getJSON '/ad_venders/indexOfSize', { size: size }, (data) ->
      data.forEach (adr) ->
        checked = if ad_vender_ids.indexOf(adr.id) is -1 then null else 'checked'
        html = "<label class='checkbox'><input id='artwork[ad_vender_ids]' type='checkbox' name='artwork[ad_vender_ids][]' value='" + adr.id + "' " + checked + ">" + adr.name + "</label>"
        $("#ad_venders").append html
