= form_for @artwork, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  - if @artwork.errors.any?
    #error_explanation
      %h2= "#{pluralize(@artwork.errors.count, "error")} prohibited this artwork from being saved:"
      %ul
        - @artwork.errors.full_messages.each do |msg|
          %li= msg

  .field.control-group
    = f.label :size, :class => 'control-label'
    .controls
      = f.text_field :size
  .field.control-group
    = f.label :product, :class => 'control-label'
    .controls
      = f.select :product_id, options_from_collection_for_select(Product.all, "id", "name")
  .field.control-group
    = f.label :artwork, :class => 'control-label'
    .controls
      = f.file_field :artwork
  .actions.control-group
    .controls
      = f.submit 'Save', :class => 'btn btn-primary'
