= form_for @analytic_datum do |f|
  - if @analytic_datum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@analytic_datum.errors.count, "error")} prohibited this analytic_datum from being saved:"
      %ul
        - @analytic_datum.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :product
    = f.text_field :product
  .field
    = f.label :ad_vender
    = f.text_field :ad_vender
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :chart
    = f.text_field :chart
  .actions
    = f.submit 'Save'
