= form_for @ad_vender, :html => { :class => 'form-horizontal' } do |f|
  - if @ad_vender.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ad_vender.errors.count, "error")} prohibited this ad_vender from being saved:"
      %ul
        - @ad_vender.errors.full_messages.each do |msg|
          %li= msg

  .field.control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name
  %hr
  .field.control-group
    = f.label :artwork_size_list, :class => 'control-label'
    .controls
      = f.text_field :artwork_size_list, :autocomplete => "off", :class => 'tagManager'
  %hr
  .actions.control-group
    .controls
      = f.submit 'Save', :class => 'btn btn-primary'
      = link_to 'Back', ad_venders_path, :class => 'btn'

:javascript
  artwork_size_list = "#{@ad_vender.artwork_size_list}";
  type_ahead_source = #{resolution_list};

:coffee
  $(document).ready ->
    $(".tagManager").tagsManager
      prefilled: artwork_size_list.split(',')
      typeahead: true
      typeaheadSource: type_ahead_source
