= form_for @ad_vender do |f|
  - if @ad_vender.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ad_vender.errors.count, "error")} prohibited this ad_vender from being saved:"
      %ul
        - @ad_vender.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
