.titlebar
  %h1.pull-left Listing ad_venders
  = link_to 'New Ad vender', new_ad_vender_path, :class => 'btn btn-success pull-right new-btn'

%hr

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Required Sizes
    %th.action
    %th.action
    %th.action
    %th.action

  - @ad_venders.each do |ad_vender|
    %tr
      %td= ad_vender.name
      %td= ad_vender.artwork_size_list
      %td.action= link_to 'Artworks', ad_vender_artwork_distributions_path(ad_vender)
      %td.action= link_to 'Export', export_ad_vender_path(ad_vender)
      %td.action= link_to 'Edit', edit_ad_vender_path(ad_vender)
      %td.action= link_to 'Destroy', ad_vender, :method => :delete, :data => { :confirm => 'Are you sure?' }
